[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
altair = "*"
tk-tools = "*"
matplotlib = "*"
plotly = "*"
sklearn = "*"
wordcloud = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
